<a href="https://colab.research.google.com/github/nallanasreya/pythonnew/blob/module2/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
n=int(input("value of n: "))
r=int(input("value of r: "))
f=1
for x in range(1,n+1):
  f=f*x  
print("Factorial of" ,n,"is", f)
g=1
for x in range(1,r+1):
  g=g*x
print("Factorial of" ,r,"is", g)   
h=1
for x in range(1,n-r+1):
  h=h*x
print("Factorial of" ,n-r,"is", h)
print("required combination(nCr) is" ,f/(g*h))

value of n: 5
value of r: 2
Factorial of 5 is 120
Factorial of 2 is 2
Factorial of 3 is 6
required combination(nCr) is 10.0

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
a=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
a.remove("Red")
a.remove("Pink")
a.remove("Yellow")
print(a)

['Green', 'White', 'Black']

In [ ]:
#Program to get the difference between the two lists.
def Diff(a,b):
  d= list(set(a)-set(b))+list(set(b)-set(a)) #[i for i in a+b if i not in a or i not in b]
  return d
a=['10','2','3','4','5','6','7','8','9']
b=['1','2','37','4','5','6','7','8']  
c=Diff(a,b)
print(c)

['3', '10', '9', '37', '1']

In [ ]:
#Program to find the second smallest number and second largest number in a list
a=['10','1','89','46','74','12','63','33','99']
a.sort()
print(a)
print("second largest number" , a[len(a)-2])
print("second smallest number",a[1])

['1', '10', '12', '33', '46', '63', '74', '89', '99']
second largest number 89
second smallest number 10

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples
#having first element as the number and second element as the square of the number.
a=[1,4,67,8]
b=[(x,pow(x,2)) for x in a]
print(b)

[(1, 1), (4, 16), (67, 4489), (8, 64)]

In [ ]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=int(input())
o=[x for x in test_list if len(x)!=k]
print(o)

4
[(4, 5), (4,), (8, 6, 7), (1,)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
#Sample Input: (n=5) :
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
def sq():
  n=int(input())
  d=dict()
  for x in range(1,n+1):
    d[x]=x*x
  print(d)
sq()

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Program to remove a key from a dictionary
def remove_key():
  d = {'a':1,'b':2,'c':3,'d':4}
  r=d.pop(str(input("enter key to remove: ")))
  print(d)
remove_key()

enter key to remove: a
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Program to get the maximum and minimum value in a dictionary
def marks():
  M={'maths':92,'chemistry':85,'beee':76}
  maximum=max(M)
  minimum=min(M)
  print(maximum)
  print(minimum)
marks()

maths
beee

In [ ]:
#Program for Counting occurrence of a certain element in a string, getting indexes that
#have matching elements.For ex -.In Rabbit count how many times b has occurred
def strcount():
  ex="Rabbit"
  count=0
  for i in ex:
    if i == 'b':
      count=count+1
  print("b occurs:", str(count),"times")
strcount()

b occurs: 2 times

In [ ]:
#Program for replacing one substring by another For example - Rabbit - Replace 'bb' by 'cc'
def replace():
  ex=str(input("enter a string: "))
  a=str(input("enter string to be replaced: "))
  b=str(input("enter string to be replaced with: "))
  print("String after replacing: ", ex.replace(a,b))
replace()

enter a string: Rabbit
enter string to be replaced: bb
enter string to be replaced with: cc
String after replacing:  Raccit

In [ ]:
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
def accept():
  ex=str(input("enter a string: "))
  upper=0
  lower=0
  for x in len(ex):
    if

In [ ]:
#Program to count the number of strings where the string length is 2 or more and
#the first and last character are same from a given list of strings 
a=['abc', 'xyz', 'aba', '1221'] 
count=0
for x in a:
  if len(x) > 2:
    count=count+1
    print(x)

abc
xyz
aba
1221