<a href="https://colab.research.google.com/github/nallanasreya/module-1/blob/module1/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###x Accept input from user and store it in variable and print the value

In [ ]:
x="sreya"
y=18
print(x,y)

sreya 18

###Use of print statements and use of (.format )for printing different data types

In [ ]:
a='sreya'
b=18
print("{} age is {}.format(a,b")

{} age is {}.format(a,b

###x Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output (Same operations on floating point input as well)

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

enter a number7
enter a number9
16
-2
63
0.7777777777777778
7

##Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
hour=int(input("enter hour"))
minutes=hour*60
print(minutes)

enter hour5
300

In [ ]:
mile=int(input("enter mile"))
km=mile*1.6
print(km)

enter mile65
104.0

###Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [ ]:
import math
a=int(input("enter an number"))
b=int(input("enter another number"))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.fmod(a,b))
print(math.trunc(a))
print(math.pow(a,b))
print(math.sqrt(a))

enter an number8
enter another number4
8
8
8.0
0.0
8
4096.0
2.8284271247461903

###Building a mathematical calculator that can perform operations according to user input.Use decision making statement.

In [ ]:
a= int(input("Enter First Number: "))
b= int(input("Enter Second Number: "))
ch=(input("enter operation"))
if ch == '+':
  print(a+b)
elif ch == '-':
  print(a-b)
elif ch == '*':
  print(a*b)
elif ch == '/':
  print(a/b)
elif ch == '%':
  print(a%b)
else:
  print("Input character is not recognized!")

Enter First Number: 8
Enter Second Number: 4
enter operation%
0

###Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
t=(a+b+c+d+e)/5
if(t<=100 and t>=85):
  print("A grade")
elif(t<=84and t>=70):
  print("B grade")
elif(t<=69and t>=55):
  print("C grade")
elif(t<=54and t>=45):
  print("D grade")
else:
  print("FAIL")

78
98
67
89
90
FAIL

###Printing all even numbers, odd numbers, count of even numbers, count of odd numberswithin a given range.

In [ ]:
evecount=0
for i in range(1,101):
  if(i%2==0):
    evecount=evecount+1
    print(i)
print(evecount)

In [ ]:
oddcount=0
for i in range(1,101):
  if(i%2!=0):
    oddcount=oddcount+1
    print(i)
print(oddcount)

###Compute the factorial of a given number.

In [ ]:
a=int(input())
f=1
if(a>1):
  for i in range (1,a+1):
    f=f*i
print(f)

4
24

#### Compute GCD of two given numbers.

In [ ]:

def gcd(a,b):
  hcf=1
  for i in range (1,b+1):
    if (a%i==0)and (b%i==0):
      hcf=hcf*i
  return hcf
a=int(input())
b=int(input())
print(gcd(a,b))

####Generate Fibonacci series up to N numbers

In [ ]:
n=int(input())
a,b= 0, 1
print(a,b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

5
0 1
1
2
3

###Check whether the given input is palindrome

In [ ]:
a=int(input())
t=a
rev=0
while a!=0:
  a=a%10
  rev=rev*10+a
  a=a/10
if(t==rev):
  print("palindrome")
else:
  print("not palindrome")

56
not palindrome

######Check whether the given input is strong

In [ ]:
n=int(input())
s=0
t=n
f=1
while(n>0):
    i = 1
    r=n%10
    while(i<=r):
        f=f*i
        i=i+1
    s=s+f
    n=n/10
if (s==t):
    print('strong number')
else:
    print('not strong number')

145
not strong number

######Check whether the given input is perfect

In [ ]:
a=int(input())
sum=0
for i in range(1,a):
  if i%a==0:
    sum=sum+i
if(sum==a):
  print("perfect number")
else:
  print("perfect number")

6
perfect number

###Compute compound interest using loop for a certain principal and interest amount

In [ ]:
p=int(input())
r=int(input())
t=int(input())
for i in range(t):
  p=p+((p*r)/100)
print(p)

100
2
2
104.04